<div class="row" ng-init="cargar()">
   <div class="span12">
	<ul class="thumbnails" ng-repeat="data in us">
          <li class="span5 clearfix">
            <div class="thumbnail clearfix" style="width: 50%">
              <img src="http://placehold.it/320x200" alt="ALT NAME" class="pull-left span2 clearfix" style='margin-right:10px'>
             <div class="caption" class="pull-left">
               <a href="http://bootsnipp.com/" class="btn btn-primary icon  pull-right">{{data.document}}</a>
               <h4>      
               <a href="#" >Luis Felipe Kaufmann</a>
               </h4>
               <small><b>RG: </b>99384877</small>  
             </div>
           </div>
        </li>
      </ul>
   </div>
</div>